@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: #F6F6F6;
    --cor-tercearia: #52CDFF;
    --cor-quartenaria: #DB4664;
    
    --fonte-titulo: 'Krona one', sans-serif;
    --fonte-paragrafo: 'Montserrat', sans-serif;
}

* {
   margin: 0;
   padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    padding: 2% 15%;
}

.cabecalho__menu__link {
    color: var(--cor-tercearia);
    font-family: var(--fonte-paragrafo);
    font-weight: 600;
    text-decoration: none;
    justify-content: center;

}

.curriculo {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.curriculo__titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.curriculo__titulo__nome {
    font-family: var(--fonte-titulo);
    font-size: 36px;
    color: var(--cor-secundaria);
    font-weight: 400;
}

.curriculo__titulo__info {
    font-family: var(--fonte-paragrafo);
    font-size: 20px;
}

.curriculo__titulo_linha {
    border: 1px solid var(--cor-tercearia);
    flex-grow: 1;
    width: 100%;
}

.curriculo__corpo {
    display: flex;
    justify-content: center;
}

.curriculo__esquerda {
    display: flex;
    flex-direction: column;
    padding: 15% 0% 0% 0%;
}

.curriculo__esquerda__titulo  {
    font-family: var(--fonte-titulo);
    font-size: 25px;
    color: var(--cor-quartenaria);
}

.curriculo__esquerda__titulo__segundo {
    font-family: var(--fonte-titulo);
    font-size: 25px;
    color: var(--cor-quartenaria);
    padding-top: 167px;
}

.curriculo__esquerda__titulo__terceiro {
    font-family: var(--fonte-titulo);
    font-size: 25px;
    color: var(--cor-quartenaria);
    padding-top: 155px;
}

.curriculo__esquerda__data__primeira {
    font-family: var(--fonte-paragrafo);
    padding-top: 45%;
}

.curriculo__esquerda__data__segunda {
    font-family: var(--fonte-paragrafo);
    padding-top: 78%;
}

.curriculo__esquerda__data__terceira {
    font-family: var(--fonte-paragrafo);
    padding-top: 106%;
}

.curriculo__esquerda__data__quarta {
    font-family: var(--fonte-paragrafo);
    padding-top: 47%;
}

.curriculo__esquerda__data__quinta {
    font-family: var(--fonte-paragrafo);
    padding-top: 75%;
}

.curriculo__meio {
    display: flex;
    flex-direction: column;
    padding: 16% 5% 0% 5%;
    margin: 0px;
}

.curriculo__circulo__vazado {
    width: 15px;
    height: 15px;
    border: 2px solid var(--cor-quartenaria);
    border-radius: 50%;
}

.curriculo__linha__primeira {
    border: 1px solid var(--cor-quartenaria);
    /* height: 80px; */
    height: 6%;
    margin: 45% 45%;
    flex-grow: 1;
}

.curriculo__linha__segunda {
    border: 1px solid var(--cor-quartenaria);
    /* height: 140px; */
    height:10.5%;
    margin: 45% 45%;
    flex-grow: 1;
}

.curriculo__linha__terceira {
    border: 1px solid var(--cor-quartenaria);
    /* height: 200px; */
    height: 30vh;
    margin: 45% 45%;
    flex-grow: 1;
}

.curriculo__linha__quarta {
    border: 1px solid var(--cor-quartenaria);
    /* height: 160px; */
    height: 11.5%;
    margin: 45% 45%;
    flex-grow: 1;
}

.curriculo__linha__sexta {
    border: 1px solid var(--cor-quartenaria);
    height: 140px;
    margin: 45% 45%;
    flex-grow: 1;
}

.curriculo__circulo {
    width: 19px;
    height: 19px;
    background-color:var(--cor-quartenaria);
    border-radius: 50%;
}

.curriculo__direita {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 29% 5% 0% 0%;
}

.curriculo__direita__experiencias {
    font-family: var(--fonte-paragrafo);
}

.curriculo__direita__experiencias__segunda {
    font-family: var(--fonte-paragrafo);
    padding-top: 3%;
}

.curriculo__destaque {
    color: var(--cor-tercearia);
    font-size: 20px;
}

.curriculo__direita__conquistas_primeira {
    font-family: var(--fonte-paragrafo);
    padding-top: 35%;
}

.curriculo__direita__conquistas__segunda {
    font-family: var(--fonte-paragrafo);
    padding-top: 3%;
}

.curriculo__direita__educacao {
    font-family: var(--fonte-paragrafo);
    padding-top: 30%;
    font-size: 20px;
}

.curriculo__embaixo {
    display: flex;
    align-self: flex-start;
    padding-top: 10%;
    gap: 9.5rem;
}

.curriculo__embaixo__esquerda {
    display: flex;
    flex-direction: column;
}

.curriculo__embaixo__direita {
    display: flex;
    flex-direction: column;
}

.curriculo__embaixo__titulo {
    font-family: var(--fonte-titulo);
    font-size: 25px;
    color: var(--cor-quartenaria);
}

.curriculo__embaixo__paragrafo {
    font-family: var(--fonte-paragrafo);
}