@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color:black;
    color:#F6F6F6;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    padding: 2% 15%;
}

.cabecalho__menu__link {
    color: #52CDFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* font-weight: 600; */
    text-decoration: none;
    justify-content: center;

}

.curriculo {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.curriculo__titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.curriculo__titulo__nome {
    font-family: 'Krona one', sans-serif;
    font-size: 36px;
    color: #F6F6F6;
    font-weight: 400;
}

.curriculo__titulo__info {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.curriculo__titulo_linha {
    border: 1px solid #52CDFF;
    width: 1000px;
}

.curriculo__corpo {
    display: flex;
    justify-content: center;
}

.curriculo__esquerda {
    display: flex;
    flex-direction: column;
    padding: 15% 0% 0% 0%;
    /* gap: 5px; */
}

.curriculo__esquerda__titulo  {
    font-family: 'Krona one', sans-serif;
    font-size: 25px;
    color: #DB4664;
}

.curriculo__esquerda__titulo__segundo {
    font-family: 'Krona one', sans-serif;
    font-size: 25px;
    color: #DB4664;
    padding-top: 167px;
}

.curriculo__esquerda__data__primeira {
    font-family: 'Montserrat', sans-serif;
    padding-top: 45%;
}

.curriculo__esquerda__data__segunda {
    font-family: 'Montserrat', sans-serif;
    padding-top: 78%;
}

.curriculo__esquerda__data__terceira {
    font-family: 'Montserrat', sans-serif;
    padding-top: 106%;
}

.curriculo__esquerda__data__quarta {
    font-family: 'Montserrat', sans-serif;
    padding-top: 47%;
}

.curriculo__esquerda__data__quinta {
    font-family: 'Montserrat', sans-serif;
    padding-top: 75%;
}

.curriculo__meio {
    display: flex;
    flex-direction: column;
    padding: 16% 5% 0% 5%;
    margin: 0px;
}

.curriculo__circulo__vazado {
    width: 15px;
    height: 15px;
    border: 2px solid#DB4664;
    border-radius: 50%;
}

.curriculo__linha__primeira {
    border: 1px solid #DB4664;
    height: 80px;
    margin: 45% 45%;
}

.curriculo__linha__segunda {
    border: 1px solid #DB4664;
    height: 140px;
    margin: 45% 45%;
}

.curriculo__linha__terceira {
    border: 1px solid #DB4664;
    height: 200px;
    margin: 45% 45%;
}

.curriculo__linha__quarta {
    border: 1px solid #DB4664;
    height: 160px;
    margin: 45% 45%;
}

.curriculo__linha__quinta {
    border: 1px solid #DB4664;
    height: 80px;
    margin: 45% 45%;
}

.curriculo__linha__sexta {
    border: 1px solid #DB4664;
    height: 140px;
    margin: 45% 45%;
}

.curriculo__circulo {
    width: 19px;
    height: 19px;
    background-color:#DB4664;
    border-radius: 50%;
}

.curriculo__direita {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 29% 5% 0% 0%;
}

.curriculo__direita__experiencias {
    font-family: 'Montserrat', sans-serif;
}

.curriculo__direita__experiencias__segunda {
    font-family: 'Montserrat', sans-serif;
    padding-top: 13px;
}

.curriculo__destaque {
    color: #52CDFF;
    font-size: 20px;
}

.curriculo__direita__conquistas_primeira {
    font-family: 'Montserrat', sans-serif;
    padding-top: 35%;
}

.curriculo__direita__conquistas__segunda {
    font-family: 'Montserrat', sans-serif;
    padding-top: 3%;
}